#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .description {
    background-color: white;
    padding: 10px;
  }
  .title {
    background-color: inherit;
    text-align: center;
    font-size: 16pt;
    padding: 5px 10px 10px 10px;
    color: #363636;
  }
  .high-population {
    color: #c9770c;
    font-weight: 900;
  }
  .low-population {
    color: #4b6147;
    font-weight: 900;
  }
  .header-title {
    font-size: 2.2019rem;
}